                                           /*HOME SECTION*/

body
{
	background-image: url(images/1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.home
{
	/*background-image: url(images/sd.jpg);*/
	position: relative;
	width: 100%;
	height: 90vh;
	justify-content: space-between;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	padding: 70px 10% 0;

}
h1 
{
	color:#006DA0;
	font-weight: bold;
	font-size:30px !important;
	/*text-align: right;*/
}
h2
{
	color:#006DA0;
	font-size:60px !important;
	font-weight: bold;
	/*text-align: right;*/
}
h3 
{
	color:#006DA0;
	font-weight: bold;
	font-size:30px !important;
	}
.one:hover
{
	color: #006DA0;
	
}


													/*ABOUT SECTION*/


/*ul
{
	font-size: 20px;
}*/
.About
{
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
h4 
{
	color: white;
	font-family: sans-serif;
	text-decoration: none;
}

h4 a
{
	color: white;
	font-family: sans-serif;
	text-decoration: none;
}

.for
{
	font-size:35px!important;
	color: #f4f1bb;
	padding: 17px;
}
.for:hover
{
	color: blue;
	/*box-shadow: 0 0 25px;*/
	transition: 0.9s ease-in-out;
}
.ok
{
	font-size:35px!important;
	color: #f4f1bb;
	margin-left: 20px;
}
.ok:hover
{
	color: blue;
	box-shadow: 0 0  25px;
	transition: 0.9s ease-in-out;
}
.img-fluid:hover
{
	color: #f4f1bb;
	box-shadow: 0 0  25px;
	transition: 0.9s ease-in-out;
}




	

										/*SKILLS*/

span
{
	text-align: center;
	font-size: 50px;
	color: #f4f1bb;
}

.Skills
{
	background-color: black;
	
	width: 100%;
	
	justify-content: ;
	background-size: cover;
	background-position: center;
	align-items: center;
	padding: 70px 10% 0;

}
.Skills
{
	text-align: center;
}
strong
{
	color: #006DA0;
	padding: 20px;
}

.Skills img:hover
{
	color: #f4f1bb;
	box-shadow: 0 0 30px;
	transition: .4s ease-in-out;
}
	
									/*Education*/	



.section
{
	background-color: black;
	position: relative;
	width: 100%;
	justify-content: ;
	background-size: cover;
	background-position: center;
	align-items: center;
	padding: 70px 10% 0;		
}
.card:hover
{
	margin-top: 40px;
	color: #white;
	box-shadow: 0 0 30px;
	transition: .4s ease-in-out;
}


/*Hobbies*/	   



.section
{
	background-color: black;
	position: relative;
	width: 100%;
	height: 100%;
	justify-content: ;
	background-size: cover;
	background-position: center;
	align-items: center;
	padding: 70px 10% 0;		
}
.card:hover
{
	margin-top: 40px;
	color: #white;
	box-shadow: 0 0 30px;
	transition: .4s ease-in-out;
}

@media only screen and (max-width: 600px) {

			.section
			{
				height: 250%;
			}

          /*Contact*/
}

.contact-section {
    background-color: black;
	position: relative;
	margin-top: 0px;
	width: 100%;
	justify-content: ;
	background-size: cover;
	background-position: center;
	align-items: center;
	padding: 70px 10% 0;
  }

 font {
    font-family: Calibri, sans-serif;
    color: white;
    font-size: 50px;
  }

 .msg font {
    font-family: Calibri, sans-serif;
    color: white;
    padding-left: 80px;
    font-size: 50px;
  }

  .contact-section p {
    font-size: 18px;
    font-family: 'Monotype Corsiva', cursive;
    color: white;
  }

  .contact-info {
    list-style: none;
    padding-left: 0;
  }

  .contact-info li {
    padding: 8px 0;
    font-size: 18px;
    color: white;
  }

  .contact-info li i {
    margin-right: 10px;
    color: #006DA0;
    padding-left: 80px;
  }

  .contact-info li a {
    color: white;
    text-decoration: none;
  }

  
  .contact-section .form-control {
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ffa500;
    background-color: #222;
    color: #ffa500;
  }

  .contact-section .btn-custom {
    background-color: #006DA0;
    color: black;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
}

.contact-section .form-control {
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #006DA0;
  background-color: white;
  color: #006DA0;
}